
  
  * {
    box-sizing: border-box;
  }
  /* set header area to be visible on page */
body {
    /* background: linear-gradient(270deg,rgba(96, 96, 94, 0.8), rgba(192,192,192,0.8) */
    /* );   */
    /* background-color: #fff;       */
    background: #2A7B9B;
    background: linear-gradient(39deg,
                             rgba(42, 123, 155, 1) 0%,
                            rgba(205, 217, 37, 0.65) 55%,
                            rgba(83, 237, 121, 0.59) 91%);
    color: black;
    /*remove the gap between body and edge of webpage  */
    margin: 0px;
    padding: 0px;
    overflow: auto;

  }

header {
   background-color: #040704;
   border-bottom: 4px solid #ccc;
   text-align: right;
   padding: 5px;
   margin: 0px 3px 3px;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height:45px;


}
nav {
    display: block;
    margin: 3px;
    padding: 5px;
 }

 a {
    color: whitesmoke;
 }

main {
   margin: 30px 0px 5px;
   padding: 0px;
   
   width: 100%;
   float:right;
   
}

footer {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    background-color: #040704;
    color:wheat;
}
h1{
   text-align: center;
   margin-top: 30px;
   font-family: Georgia, Times, 'Times New Roman', serif;
}

h2,h3 {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-bottom: 1px solid black; */
    text-align: center;
}

h4 {
    font-weight: bold;
    font-size: large;
}

li {
    padding: 5px;
    /* position: relative; */
    /* text-align:center ; */
    
}

li:hover {
    transform: scale(1.1);
}

/* a::before {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: aquamarine;
    position: absolute;
    bottom: 0;
    left: 0;
    
} */

/* a:hover::before {
    height: 5px;
} */

p.np::first-letter {
    float: left;
    font-size: large;
    font-weight: bold;
}

p.underL::first-line {
    text-decoration: underline;
}

::selection {
    background-color: yellow;
    color: black;
}
::marker {
    color: rgb(6, 2, 16);
    font-size: 23px;
}

p {
    margin: 3px;
    padding: 5px;
}
span {
   padding: 1px;
     margin: 3px;
}



#grid {
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 5px;
}

#project1 {
    /* position: sticky; */
    top:45px;
}

#project2 {
    /* position: sticky;     */
    top:75px;
}

#project3 {
    /* position: sticky;     */
    top:100px;
 
}
#bottom {
   text-align: center;
    font-size: large;
    transition: all 0.2;
   
}
#bottom:hover {
   
    font-size: 26px;
}
.items {
    margin: 10px 5px ;
    border: 0px dotted black;
    
    border-radius: 6px;
}

.projectSubTitle {
    width: 190px;
    height: auto; 
    border: 1px solid black;
    border-radius: 85%;
}

.gradient_background {
    background: linear-gradient(45deg,black, white
    );
}

.gradient_title {
    background: radial-gradient(rgb(201, 209, 204),yellow, rgb(151, 17, 17));
}

.gradient_leaf {
    background-color: green;
    background: linear-gradient(45deg,rgba(73, 192, 87, 0.1)0%,rgba(38, 111, 3, 0.8)70%);
    color:black;
    border: 1px solid red;
    border-radius: 5px 50% 5px 50%;
    box-shadow: 1px 1px 2px orangered;
}

.parallax {
    background-image: url(./images/laptop.jpg);
    min-height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.sticklyTitle {
    background-color: #f5f5f5;
    border-bottom: 4px solid #ccc;
    /* padding: 10px; */
    position: sticky;
    /* top: 50px; */
   
}

/*  Style of flex-box */
.flex-container {
    display: flex;
    /* background-color: DodgerBlue; */
    background-color: black;
    flex-wrap: wrap;
}

.flex-container > div {
    /* background-color: #f1f1f1; */
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: whitesmoke;
    flex-basis:40%;
    
}
.flex-container div.left {
    flex-basis: 25%; 
    flex-shrink: 0;
    flex-grow: 0;
    
}
    


.flex-container div.right {
    flex-basis: 70%;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 0;
   
    
}
.vivid {
    width: 200px;
    height: 30px;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top:33px;
    left:0;
    animation-name: itisme3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
@keyframes itisme {
    from {
        color: black;
        background-color: rgb(233, 222, 222);
        top: 33px;
        left: 0;
    }
    to {
        color: rgb(238, 235, 235);
        background-color: black;
        left: 100%;
    }
   
}
@keyframes itisme3 {
    0% {
        color: black;
        background-color: rgb(233, 222, 222);
        top: 33px;
        left: 0;
    }
    50% {
        color: rgb(238, 235, 235);
        background-color: black;
        left: 50%;
    }
   100% {
        color: black;
        background-color: rgb(233, 222, 222);
        top: 33px;
        left: 100%;
    }

}
/* the reponsive code is not workable yet. */
/* @media (max-width:78px){
    #left {
        display: none;
    }
} */

/* @media (){

} */

/* div.inside-section {
margin:auto;
width: 300px;
height: 300px;
border:1px solid #ccc;
}  */      